<!DOCTYPE html>
<html>
  <head>
    <style>
      * {
        font-family: sans-serif;
        padding: 0;
        margin: 0;
      }
      body {
        background-color: white;
      }

      .container {
        padding: 3rem 0;
        max-width: 600px;
        margin: 0 auto;
      }
      p {
        padding: 1rem 0;
        font-size: 1.1rem;
      }
      .site-home {
        color: #999;
        text-decoration: none;
      }
      .site-home:hover {
        text-decoration: underline;
      }
      .access-link {
        border: 1px solid;
        border-radius: 4px;
        background-color: #023285;
        color: white !important;
        text-decoration: none;
        display: block;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        padding: 0.75rem;
        font-size: 1.4rem;
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <p>Hola {{ name }}</p>
      <p>
        Hemos recibido una solucitud para renovar tu contraseña de
        <a href="https://forclazmr.com" class="site-home">forclazmr.com</a>.
      </p>
      <p>
        A continuación podrás crear una nueva clave de acceso. No cuelgues, este
        mensaje será válido por 24 hs.
      </p>

      <br />

      <a class="access-link" href="{{ passwordResetUrl }}">Renovar Contraseña</a>
    </div>
  </body>
</html>
