<!DOCTYPE html>
<html>
  <head>
    <style>
      * {
        font-family: sans-serif;
        padding: 0;
        margin: 0;
      }
      body {
        background-color: white;
      }
      .container {
        padding: 3rem 0;
        max-width: 600px;
        margin: 0 auto;
      }
      p {
        padding: 1rem 0;
        font-size: 1.1rem;
      }
      .site-home {
        color: #999;
        text-decoration: none;
      }
      .site-home:hover {
        text-decoration: underline;
      }
      a {
        color: #023285;
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <p>Hola {{ name }}</p>
      <p>
        Recientemente se actualizó tu contraseña de tu cuenta de <a href="https://forclazmr.com">forclazmr.com</a>.
      </p>
      <p>
        Si no fuiste vos quién hizo este cambio, <a href="{{contactLink}}">comunicate con nosotros</a>
    </div>
  </body>
</html>
